1

1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
num = 5
print(num)

5

2) Imprimir el tipo de dato de la constante 8.5

In [7]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(num)

int

4) Crear una variable que contenga tu nombre

In [ ]:
name = "Victor Nava"

5) Crear una variable que contenga un número complejo

In [11]:
comp = 4 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
type(comp)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
import math
pivar = math.pi
print(round(pivar, 4))
print(round(math.pi, 4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
x = "True"
y = True
#No es lo mismo, la primera es un str, la segunda un bool

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(type(x))
print(type(y))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
sumfloatint = 5 + 8.2

11) Realizar una operación de suma de números complejos

In [19]:
comp1 = 3 + 4j
comp2 = 5 - 6j
print(comp1 + comp2)

(8-2j)

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
c = comp1 + 4.35
print(c)

(7.35+4j)

13) Realizar una operación de multiplicación

In [26]:
multip = 8 * 5
print(multip)

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [28]:
x = 27 / 4
print(x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [29]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [30]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [31]:
x = 6 * 4 + 3
print(x)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [32]:
a = "Hello "
b = "World!"
c = a + b
print(c)

Hello World!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [36]:
"2" == 2

#Es falso por que "2" es str y 2 es int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [41]:
2 == int("2")

True

In [42]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos?

In [43]:
a = float('3,8')
#Decimales se escriben con punto

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [45]:
h = 3
print(h)
h -= 1
print(h)

3
2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [52]:
2 << 3
#El 2 se multiplica 3 veces por si mismo

16

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [53]:
2 + "2"
#No son del mismo tipo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [55]:
print("Hello " * 3)

Hello Hello Hello

In [ ]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')