1. Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [3]:
# Create a list of 5 cities of the world and print it
cities = ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
print(cities)

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']

2. Imprimir por pantalla el segundo elemento de la lista

In [5]:
print(cities)
print(cities[1])

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
London

3. Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(cities)
print(cities[1:4])

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
['London', 'Paris', 'Tokyo']

4. Visualizar el tipo de dato de la lista

In [7]:
print(cities)
print(type(cities))

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
<class 'list'>

5. Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [8]:
print(cities)
print(cities[2:])

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
['Paris', 'Tokyo', 'Sydney']

6. Visualizar los primeros 4 elementos de la lista

In [9]:
print(cities)
print(cities[:4])

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
['New York', 'London', 'Paris', 'Tokyo']

7. Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [54]:
cities = ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
print(cities)
cities = cities + ["London", "Dubai"]
print(cities)
# No marca error
cities_dup = cities

['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
['New York', 'London', 'Paris', 'Tokyo', 'Sydney', 'London', 'Dubai']

8. Agregar otra ciudad, pero en la cuarta posición

In [55]:
cities = ['New York', 'London', 'Paris', 'Tokyo', 'Sydney', 'London', 'Dubai']
cities.insert(3, "Berlin")
print(cities)

['New York', 'London', 'Paris', 'Berlin', 'Tokyo', 'Sydney', 'London', 'Dubai']

9. Concatenar otra lista a la ya creada

In [56]:
cities_2 = ['CDMX', 'Buenos Aires', 'Santiago']
cities_all = cities + cities_2
print(cities_all)

['New York', 'London', 'Paris', 'Berlin', 'Tokyo', 'Sydney', 'London', 'Dubai', 'CDMX', 'Buenos Aires', 'Santiago']

10. Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [57]:
print(cities_dup)
print(cities_dup.index("London"))
print("London" in cities_dup)
# Solo muestra el primer indice

['New York', 'London', 'Paris', 'Tokyo', 'Sydney', 'London', 'Dubai']
1
True

11. ¿Qué pasa si se busca un elemento que no existe?

In [23]:
print(cities_dup.index("Monte Video"))
# Te indica que el elemento no esta en la lista

ValueError: 'Monte Video' is not in list

12. Eliminar un elemento de la lista

In [25]:
cities_dup.remove("London")
print(cities_dup)

['New York', 'Paris', 'Tokyo', 'Sydney', 'Dubai']

13. ¿Qué pasa si el elemento a eliminar no existe?

In [28]:
cities_dup.remove("Quito")
# Te indica que el elemento no esta en la lista

ValueError: list.remove(x): x not in list

14. Extraer el último elemento de la lista, guardarlo en una variable e imprimirlo

In [30]:
last = cities_dup.pop()
last

'Sydney'

15. Mostrar la lista multiplicada por 4

In [33]:
print(cities_dup * 4)
print(last)

['New York', 'Paris', 'Tokyo', 'New York', 'Paris', 'Tokyo', 'New York', 'Paris', 'Tokyo', 'New York', 'Paris', 'Tokyo']
Sydney

16. Crear una tupla que contenga los números enteros del 1 al 20

In [45]:
tuple_1 = tuple(range(1,21))
print(tuple_1)
print(type(tuple_1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

17. Imprimir desde el índice 10 al 15 de la tupla

In [42]:
print(tuple_1[10:16])

(11, 12, 13, 14, 15, 16)

18. Evaluar si los números 20 y 30 están dentro de la tupla

In [58]:
print(20 in tuple_1)
print(30 in tuple_1)

True
False

19. Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [88]:
cities_fin = ['New York', 'London', 'Monaco', 'Tokyo', 'Sydney']
elem = str(input("Introduce una ciudad del mundo: "))
if (not(elem in list(cities_fin))):
  print(f"El elemento {elem} se ha agregado")
  cities_fin.append(elem)
  print(cities_fin)
else:
  print(f"El elemento {elem} ya se encuentra en la lista")

El elemento Sydney ya se encuentra en la lista

20. Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [96]:
cities_fin = cities_last

cities_last.append("New York")
print(cities_last.count("New York"))
print(cities_last.count("Paris"))
print(cities_last)

9
4
['New York', 'London', 'Monaco', 'Tokyo', 'Sydney', 'Paris', 'New York', 'London', 'Monaco', 'Tokyo', 'Sydney', 'Paris', 'New York', 'London', 'Monaco', 'Tokyo', 'Sydney', 'Paris', 'New York', 'London', 'Monaco', 'Tokyo', 'Sydney', 'Paris', 'New York', 'New York', 'New York', 'New York', 'New York']